<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    bootstrap                   = "vendor/autoload.php" >

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
    <php>
        <env name="DEFAULT_CURRENCY" value="EUR"/>
        <env name="DEPOSIT_FEE" value="0.0003"/>
        <env name="WITHDRAW_PRIVATE_FEE" value="0.003"/>
        <env name="WITHDRAW_BUSINESS_FEE" value="0.005"/>
        <env name="WITHDRAW_PRIVATE_LIMIT" value="1000"/>
        <env name="WITHDRAW_PRIVATE_FREE_OPERATIONS" value="3"/>
        <env name="MAX_CURRENCY_DECIMAL" value="3"/>
        <env name="MAX_SCALE" value="10"/>
    </php>
</phpunit>
